body {
    background: url("gaming.jpg") no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.navbar {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.navbar ul li {
    display: inline;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    display: block;
}

.navbar ul li a:hover {
    background-color: darkslategray;
}

h1 {
    color: whitesmoke;
    margin-bottom: 20px;
    font-size: 3rem;
    margin-top: 100px; /* Adjusted to account for the navbar height */
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

button {
    padding: 15px 30px;
    font-size: 1.5rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: slategray;
    color: white;
}

button:hover {
    background-color: darkslategray;
}
