body {
 
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    margin: 0;
    padding-top: 60px; /* Adjusted to account for the navbar height */
}

.navbar {
    width: 100%;
    background-color: rgb(11, 11, 11);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.navbar ul li {
    display: inline;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    padding: 15px 20px;
    display: block;
}

.navbar ul li a:hover {
    background-color: darkslategray;
}
.content{
    color: black;
}